body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

ul {
  list-style-type: none;
}

li {
  background-color: rgb(191, 203, 214);
  padding: 10px;
  margin: 10px 0;
  width: 500px;
  border: 1px solid dodgerblue;
  border-radius: 5px;
}
