body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

ul {
  list-style-type: none;
}

li {
  background-color: rgb(57, 62, 66);
  color: white;
  padding: 10px;
  margin: 10px 0;
  width: 600px;
  border: 2px solid dodgerblue;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 128, 255);
  border: 1px solid white;
  border-radius: 8px;
  border: 0;
}

button:active {
  transform: scale(0.95);
}
